<main>
  <section>
    <div class="logo">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="tagline">
      <p>Find a Massage Therapist Near You</p>
    </div>
    <form class="search">
      <input type="search" name="search" placeholder="Find Therapists..." class="search_box">
      <p>
        <button type="submit" value="search" class="search_button">Search</button>
      </p>
    </form>
    <div>
    <p class="bottom_text">Quickly find the nearest relaxation and recovery experts in your area</p>
    </div>
  </section>
</main>